* {
    /*border: 0;*/
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
header{
  width: 100%;
  /*background-color:  #f0f3f4;*/
  border-top: 5px #000 solid;
}
.nav{
  /*border: 2px red solid;*/
  margin-top: 5%;
  margin-left: 5%;
  width: 450px;
  font-family: arial, helvetica, sans-serif;
  background-color: #000;
  color: #fff;
  text-decoration: none;
  padding: 10px 15px;
  display: block;
  /*text-align: center;*/
}
.nav li{
  /*border: 2px yellow solid;*/

}
.nav li a{
  /*border: 2px red solid;*/
  background-color: #000;
   /*margin:0 auto;*/
  color: #fff;
  text-decoration: none;
  padding: 10px 15px;
  display: block;
}
ul, ol{
  list-style: none;
}
.nav > li{
  float: left;
}

.nav li a:hover{
  background-color: #434343;
}
.nav li ul{
  display: none;
  position: absolute;
  min-width: 140px;
}
.nav li:hover > ul{
  display: block;
  z-index: 100;
}
.logo{
  width: 20%;
  margin-top: 3%;
  margin-right: 5%;
  margin-bottom: 3%;
}
#select{
  background-color: #434343;
}

.bordered {
    margin-bottom: 1.5em;
    /*border: 2px #eee solid;*/
    /*border: 2px white solid;*/
    -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.25);
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.25);    
}
.myshadow {
    /*text-shadow: 1px 1px 3px #444;*/
    margin-top: 20%;
}
.btn-color{
  background-color: #000;
  color: #fff;
}

.btn-color:hover{
  background-color: #434343;
  color: #fff;
}
/*.item{*/
  /*border: 2px red solid;*/
  /*width: 100%;*/
  /*height: 300px;*/
/*}*/
/*.carousel-inner{
  border: 2px green solid;
  width: 770px;
}*/
.seccion1{
  padding: 8% 0% 8% 0%;
}
.iconos{
  text-align: center;
}
.fa-circle {
  color: #B1B0B0;
}
.seccion2{
  padding: 8% 0% 8% 0%;
  background-color: #17202a;
}
.uno:hover .tit{
  background-color:  #B1B0B0;
  color: #000;
}

.imagen1{
  /*border: 2px red solid;*/
  height: 200px;
    background: url('../img/conductores.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    overflow: hidden;
}
.imagen2{
  /*border: 2px red solid;*/
  height: 200px;
    background: url('../img/apagadores.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    overflow: hidden;
}
.imagen3{
  /*border: 2px red solid;*/
  height: 200px;
    background: url('../img/nobreak3.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    overflow: hidden;
}
.imagen4{
  /*border: 2px red solid;*/
  height: 200px;
    background: url('../img/trans.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    overflow: hidden;
}
.tit{
  /*border: 2px red solid;*/
  overflow: hidden;
  color: #000;
  background-color: #F2F4F4;
}
.btn-outline {
    background-color: transparent;
    color: inherit;
    transition: all .5s;
}

.btn-danger.btn-outline {
  font-family: 'Montserrat', sans-serif;
  color: #000;
}

.btn-danger.btn-outline:hover {
    color: #fff;
}
/*--------------FOOTER----------*/
footer{
  width: 100%;
    background:#000;
    font-family: 'Oswald', sans-serif;
    /*height: 100px;*/
    padding: 5% 0% 5% 0%;
    overflow: hidden;
    clear: both;

}
.textopie{
    width: 80%;
    margin: 0 auto;
    text-align: center;
    font-size: 20px;
    margin-top: 3%;
    color: #fff;
}
.mapa{
  width: 100%;
}
.mapa iframe{
  width: 100%;
}
/*--------------ir arriba-----------*/

.ir-arriba {
  display:none;
  padding:20px;
  background:#000;
  font-size:20px;
  color:#fff;
  cursor:pointer;
  position: fixed;
  bottom:20px;
  right:20px;
}
/*------------------nosotros----------*/
/*.contenedor{
    height: 550px;
    height: auto;
    background: url('../img/joya.jpg') no-repeat;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow: hidden;
}
.fondo{
   height: 550px;
   overflow: hidden;
   width: 100%;
   background-color: rgba(0,0,0, .6);
}*/
.seccion3{
  padding: 3% 0% 8% 0%;
  /*background-color: #17202a;*/
  border-top: 1px #17202a solid;
  clear: both;  
}
.contenimgtext{
  width: 100%;
  overflow: hidden;
  margin-top: 4%;
}
.imagen{
  height: 450px;
  width: 50%;
    background: url('../img/empresa.jpg') no-repeat;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    overflow: hidden;
}
.texto{
  width: 45%;
  margin-top: 0;
}
/*-------------------servicios---------------*/


/*-----------MATERIAL--------------*/
.imagenu{
  /*border: 2px red solid;*/
  height: 200px;
    background: url('../img/usorudo.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    overflow: hidden;
}
.imagen5{
  /*border: 2px red solid;*/
  height: 200px;
    background: url('../img/sumer.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    overflow: hidden;
}
.imagen6{
  /*border: 2px red solid;*/
  height: 200px;
    background: url('../img/thw.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    overflow: hidden;
}
.imagen7{
  /*border: 2px red solid;*/
  height: 200px;
    background: url('../img/cables.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    overflow: hidden;
}

.imagen8{
  /*border: 2px red solid;*/
  height: 200px;
    background: url('../img/conduit.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    overflow: hidden;
}
.imagen9{
  /*border: 2px red solid;*/
  height: 200px;
    background: url('../img/codo.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    overflow: hidden;
}
.imagen10{
  /*border: 2px red solid;*/
  height: 200px;
    background: url('../img/cople2.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    overflow: hidden;
}
.imagen11{
  /*border: 2px red solid;*/
  height: 200px;
    background: url('../img/mufo.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    overflow: hidden;
}

/*-----------telefonia--------------*/
.imagen12{
  /*border: 2px red solid;*/
  height: 200px;
    background: url('../img/cel2.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    overflow: hidden;
}
.imagen13{
  /*border: 2px red solid;*/
  height: 200px;
    background: url('../img/ina3.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    overflow: hidden;
}
.imagen14{
  /*border: 2px red solid;*/
  height: 200px;
    background: url('../img/multi.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    overflow: hidden;
}
.imagen15{
  /*border: 2px red solid;*/
  height: 200px;
    background: url('../img/central.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    overflow: hidden;
}

.imagen16{
  /*border: 2px red solid;*/
  height: 200px;
    background: url('../img/radios2.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    overflow: hidden;
}
.imagen17{
  /*border: 2px red solid;*/
  height: 200px;
    background: url('../img/dis.png');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    overflow: hidden;
}
.imagen18{
  /*border: 2px red solid;*/
  height: 200px;
    background: url('../img/audio2.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    overflow: hidden;
}
.imagen19{
  /*border: 2px red solid;*/
  height: 200px;
    background: url('../img/cargadores.png');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    overflow: hidden;
}

.imagen20{
  /*border: 2px red solid;*/
  height: 200px;
    background: url('../img/fundas2.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    overflow: hidden;
}
.imagen21{
  /*border: 2px red solid;*/
  height: 200px;
    background: url('../img/micas.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    overflow: hidden;
}
.imagen22{
  /*border: 2px red solid;*/
  height: 200px;
    background: url('../img/carca4.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    overflow: hidden;
}
.imagen23{
  /*border: 2px red solid;*/
  height: 200px;
    background: url('../img/alta3.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    overflow: hidden;
}
/*-----------computacion--------------*/
.imagen24{
  /*border: 2px red solid;*/
  height: 200px;
    background: url('../img/lap.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    overflow: hidden;
}
.imagen25{
  /*border: 2px red solid;*/
  height: 200px;
    background: url('../img/pc.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    overflow: hidden;
}
.imagen26{
  /*border: 2px red solid;*/
  height: 200px;
    background: url('../img/note.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    overflow: hidden;
}
.imagen27{
  /*border: 2px red solid;*/
  height: 200px;
    background: url('../img/table2.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    overflow: hidden;
}

.imagen28{
  /*border: 2px red solid;*/
  height: 200px;
    background: url('../img/cargadoresl.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    overflow: hidden;
}
.imagen29{
  /*border: 2px red solid;*/
  height: 200px;
    background: url('../img/dis2.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    overflow: hidden;
}
.imagen30{
  /*border: 2px red solid;*/
  height: 200px;
    background: url('../img/tecla.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    overflow: hidden;
}
.imagen31{
  /*border: 2px red solid;*/
  height: 200px;
    background: url('../img/mouse.png');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    overflow: hidden;
}

.imagen32{
  /*border: 2px red solid;*/
  height: 200px;
    background: url('../img/bocinas.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    overflow: hidden;
}
.imagen33{
  /*border: 2px red solid;*/
  height: 200px;
    background: url('../img/discos.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    overflow: hidden;
}
.imagen34{
  /*border: 2px red solid;*/
  height: 200px;
    background: url('../img/ram.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    overflow: hidden;
}
.imagen35{
  /*border: 2px red solid;*/
  height: 200px;
    background: url('../img/procesador.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    overflow: hidden;
}


/*-----------------contacto-----------------*/
.seccion4{
  padding: 3% 0% 8% 0%;
  /*background-color: #17202a;*/
  border-top: 1px #17202a solid;
  clear: both;  
  /*margin-bottom: 5%;*/
  /*border: 2px red solid;*/
  overflow: hidden;
}
.textc{
  text-align: center;
  font-size: 25px;
  /*margin-bottom: 3%;*/
  margin-top:5%;
}
#contact{
    /*padding:10px 0 10px;*/
    /*margin-bottom: 5%;*/
  }

  .contact-text{
    margin:45px auto;
  }

  .mail-message-area{
    width:100%;
    padding:0 15px;
  }

  .mail-message{
    width: 100%;
    background:rgba(255,255,255, 0.8) !important;
    -webkit-transition: all 0.7s;
    -moz-transition: all 0.7s;
    transition: all 0.7s;
    margin:0 auto;
    border-radius: 0;
  }

  .not-visible-message{
    height:0px;
    opacity: 0;
  }

  .visible-message{
    height:auto;
    opacity: 1;
    margin:25px auto 0;
  }

/* Input Styles */

  .form{
    width: 100%;
    padding: 15px;
    background:#f8f8f8;
    border:1px solid rgba(0, 0, 0, 0.075);
    margin-bottom:25px;
    color:#727272 !important;
    font-size:13px;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
  }

  .form:hover{
    border:1px solid #8BC3A3;
  }

  .form:focus{
    color: white;
    outline: none;
    border:1px solid #8BC3A3;
  }

  .textarea{
    height: 200px;
    max-height: 200px;
    max-width: 100%;
  }
  

/* Send Button Styles */

  .form-btn{
    width:180px;
    display: block;
    height: auto;
    padding:15px;
    color:#fff;
    background:#000;
    border:none;
    border-radius:3px;
    outline: none;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    margin:auto;
    box-shadow: 0px 1px 4px rgba(0,0,0, 0.10);
    -moz-box-shadow: 0px 1px 4px rgba(0,0,0, 0.10);
    -webkit-box-shadow: 0px 1px 4px rgba(0,0,0, 0.10);
  }

  .form-btn:hover{
    background:#B1B0B0;
    color: white;
    border:none;
  }

  /*.form-btn:active{
    opacity: 0.9;
  }*/